.high{
    height: 250px;
}
.gameBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.gameBox:hover{
    background-color: brown;
}
#resButton:hover{
    background-color: forestgreen;
}
h1{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
.row1{
    border-radius: 5px;
}